<%= react_component('ProductForm') %>
<div id="loading">
Loading...
</div>
<script>
$(document).ready(function () {
  $("#loading").hide();
  $(document).ajaxStart(function () {
      $("#loading").show();
  }).ajaxStop(function () {
      $("#loading").hide();
  });
});
</script>
